@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.nav{
    margin-top: 5px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
    box-shadow: 2px 2px 6px rgb(219, 212, 212);
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
}
label{
    line-height: 50px;
}
.nav ul{
    float: right;
    list-style: none;
}
.nav ul li{
    display: inline-block;
    padding: 15px;
    font-family: Poppins;
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: Poppins;
}
.nav ul li a:hover{
    color: skyblue;
    border: 2px solid skyblue;
    padding: 1px;
    background-color: skyblue;
    color: aliceblue;
    border-radius: 5px;
}
.title{
    font-size: 35px;
    margin: 10px;
    font-family: Poppins;
}
.a-title{
    text-decoration: none;
    color: black;
}
.a-title:hover{
    color: rgb(107, 208, 248);
    text-decoration: overline rgb(255, 238, 0) 2px;
}
@media screen and (max-width:400px) {
    .nav ul li a{
        font-size: 0.7rem;
    }
    .title{
        font-size: 25px;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width:500px) {
    .nav ul{
        float: left;
        justify-content: space-between;
    }
    .nav ul li a{
        font-size: 0.8rem;
    }
    .title{
        font-size: 1.6rem;
    }
    .logo{
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width:370px) {
    .nav ul li{
        padding: 10px;
    }
}
/* ------------------------- */
.container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    gap: 20px;
}
.div-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.contit{
    font-size: 20px;
    font-family: Poppins;
    text-decoration: underline;
}
i{
    font-size: 25px;
}
input{
    width: 250px;
    height: 40px;
    box-shadow: 2px 2px 6px rgb(219, 212, 212);
    border: none;
    font-family: Poppins;
    text-align: center;
}
textarea{
    width: 350px;
    box-shadow: 2px 2px 6px rgb(219, 212, 212);
    border: none;
    font-family: Poppins;
    text-align: center;
}
input:hover{
    border: solid rgb(255, 238, 0);
}
textarea:hover{
    border: solid rgb(255, 238, 0);
}
.sub{
    padding: 5px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    font-family: Poppins;
}
.sub:hover{
    color: whitesmoke;
}
#youtube{
    color: #e9322c;
}
#facebook{
    color: #1877F2;
}
#insta{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer{
    width: 100%;
    height: 30%;
    background-color: skyblue;
    text-align: center;
    margin-top: 3%;
    font-family: Poppins;
    font-size: smaller;
}
#myc{
    font-weight: bold;
    color: blue;
    text-decoration: none;
}
#vk
{
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
}