<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{url_for('static',filename='aboutstyle.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
    <div class="nav">
        <h2 id="weather-forecast">Weather Forecast</h2>
        <button style="background: none; border: none; cursor: pointer;" class="menu-btn" onclick="changemenu()" id="menuButton">
            <i class="fas fa-bars" style="font-size: 1.5rem; color: white;" id="icon"></i>
        </button>
    </div>
    <div class="ul-list">
        <ul>
            <li><a href="{{url_for('weather')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
            <li><a href="{{url_for('feedback')}}">Feedback</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="title">
            <h2>About</h2>
        </div>
        <div class="matter">
            Weather detection website using Python and APIs involves building a web application that retrieves weather data from an external weather service, like Weatherapi. The fetched weather data is then dynamically displayed on the website, offering users real-time information about temperature, humidity, and weather conditions. This project can be further enhanced with additional features, such as geolocation or historical weather data retrieval, to create a comprehensive weather information platform.
        </div>
    </div>
    <script src="{{ url_for('static', filename='scrpt.js') }}"></script>
</body>
</html>