<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{{url_for('static',filename='contactstyle.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="{{ url_for('static', filename='scrpt.js') }}"></script>
</head>
<body>
    <div class="nav">
        <h2 id="weather-forecast">Weather Forecast</h2>
        <button style="background: none; border: none; cursor: pointer;" class="menu-btn" onclick="changemenu()" id="menuButton">
            <i class="fas fa-bars" style="font-size: 1.5rem; color: white;" id="icon"></i>
        </button>
    </div>
    <div class="ul-list">
        <ul>
            <li><a href="{{url_for('weather')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
            <li><a href="{{url_for('feedback')}}">Feedback</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="div-1">
            <h2>Contact</h2>
        </div>
        <div class="div-2">
            <a href="https://wa.me/9392671324" target="_blank"><div class="img1"><i class="fab fa-whatsapp" id="whatsapp"></i></div></a>
            <div class="img2"><i class="fab fa-facebook-square" id="facebook"></i></div>
            <a href="https://www.instagram.com/varun_kodamanchili/" target="_blank"><div class="img3"><i class="fab fa-instagram" id="insta"></i></div></a>
        </div>
    </div>
</body>
</html>