<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="{{url_for('static',filename='feedstyle.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <script src="{{ url_for('static', filename='scrpt.js') }}"></script>
</head>
<body>
    <div class="nav">
        <h2 id="weather-forecast">Weather Forecast</h2>
        <button style="background: none; border: none; cursor: pointer;" class="menu-btn" onclick="changemenu()" id="menuButton">
            <i class="fas fa-bars" style="font-size: 1.5rem; color: white;" id="icon"></i>
        </button>
    </div>
    <div class="ul-list">
        <ul>
            <li><a href="{{url_for('weather')}}">Home</a></li>
            <li><a href="{{url_for('about')}}">About</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
            <li><a href="{{url_for('feedback')}}">Feedback</a></li>
        </ul>
    </div>
    <div class="cont">
        <div class="div-0">
            <h2>Feedback</h2>
        </div>
        <div class="div-1">
            <input type="text" placeholder="Enter Your Name">
        </div>
        <div class="div-2">
            <textarea name="" id="" cols="30" rows="10" placeholder="Enter Your Message"></textarea>
        </div>
        <div class="div-3">
            <button type="submit" class="sub">Submit</button>
        </div>
    </div>
</body>
</html>